[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
alembic = "*"
passlib = "*"
annotated-types = "*"
anyio = "*"
bcrypt = "*"
cffi = "*"
click = "*"
cryptography = "*"
ecdsa = "*"
exceptiongroup = "*"
greenlet = "*"
h11 = "*"
idna = "*"
Mako = "*"
MarkupSafe = "*"
passlib = "*"
pyasn1 = "*"
pycparser = "*"
pydantic = "*"
pydantic_core = "*"
python-jose = "*"
python-multipart = "*"
rsa = "*"
six = "*"
sniffio = "*"     
SQLAlchemy = "*"
starlette = "*"
typing_extensions = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
